# Normalisation des fins de ligne
* text=auto

# Exclure les bibliothèques front-end et fichiers tiers/générés des statistiques Linguist
/wwwroot/lib/** linguist-vendored
/wwwroot/css/Bootstrapstyle.css linguist-vendored
/wwwroot/css/*.min.css linguist-vendored
/wwwroot/css/bootstrap* linguist-vendored
/wwwroot/css/site.css linguist-vendored
/wwwroot/js/*.min.js linguist-vendored

# Fichiers générés / non représentatifs
Areas/Identity/** linguist-vendored
Migrations/** linguist-vendored
