@{
    ViewData["Title"] = "About App";
}
<h1>@ViewData["Title"]</h1>
 
<p>
    ItemsProject est une application web simple, pratique et intuitive, conçue pour gérer efficacement vos clients, catégories et articles. Grâce à une interface claire et responsive, vous pouvez facilement :

    Ajouter, modifier ou supprimer des clients, items et catégories.

    Visualiser rapidement les derniers items ajoutés et obtenir un aperçu global via le dashboard.

    Associer chaque client aux items correspondants pour un suivi précis et organisé.

    L’application est construite avec ASP.NET Core MVC, utilisant Entity Framework Core pour la gestion de la base de données, ce qui garantit fiabilité et performance.

    Que vous soyez un utilisateur débutant ou expérimenté, ItemsProject vous permet de gérer vos données de manière rapide et efficace, tout en restant flexible pour s’adapter à vos besoins futurs.

    Notre objectif est de fournir une solution simple, mais complète, qui centralise vos informations et facilite la gestion quotidienne de vos activités.
</p>
